.panel-heading{
    padding : 10px;
}
  td, th {
    vertical-align: middle;
    text-align: center;
  }
  .btn{
    text-align:center;
  }
td,th,table {
    text-align: center;
  }
table{
        width: 100%;
        border-collapse: collapse;
}
.thead,.tbody{
    text-align: center;
    padding: 15px;
}
.btn{
    width:40%
}